# PostgreSQL
POSTGRES_DB=doro_iam
POSTGRES_USER=doro_admin
POSTGRES_PASSWORD=doro_secret
POSTGRES_PORT=5432
AUTH_DB=doro_auth
GUARD_DB=doro_guard
POSTGRES_MULTIPLE_DATABASES=doro_auth,doro_guard

# Redis
REDIS_PORT=6379

# Doro IAM Service
AUTH_PORT=8080
DORO_IAM_ISSUER=https://auth.doro.local

# Doro Guard Service
GUARD_PORT=8081
GUARD_GRPC_PORT=9090

# Doro Web Central Identity Portal
WEB_PORT=3000

